.productsContainer
{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.productCard
{
    background-color: #d9f1fc;
    color: #07425f;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid black;
}